.pokemon-img {
  height: 100%;
}

.pokelogo {
  height: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-list {
  display: flex;
  margin: 0px;
  justify-content: center;
  flex-wrap: wrap;
  padding-inline: 123px;
}

@media all and (max-width: 768px) {
  .box-list {
    width: 170px;
    margin: 0%;
    padding-inline: 150px;
  }
}

@media all and (min-width: 1020px) {
  .box-list {
    width: 1000px;
    justify-items: center;
  }
}

.pokelist {
  display: flex;
  list-style: none;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 3px;
}

.box {
  width: 170px;
  height: 220px;
  border: dotted blue 2px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0;
}

.image {
  height: 120%;
}

.pokemon-name {
  text-transform: capitalize;
  margin: 5px;
}

.list {
  display: flex;
  flex-direction: row;
  padding: 0px;
}

.type {
  padding: 10px;
  text-align: center;
}

.type-list {
  list-style: none;
  text-transform: uppercase;
  padding: 0px;
}
