.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-list {
  display: flex;
  margin: 0px;
  justify-content: center;
  flex-wrap: wrap;
}

@media all and (min-width: 768px) {
  .box-list {
    width: 100px;
  }
}

@media all and (min-width: 1020px) {
  .box-list {
    width: 1000px;
    justify-items: center;
  }
}

.pokelist {
  display: flex;
  list-style: none;
  flex-direction: column;
  flex-wrap: wrap;
}

.box {
  width: 170px;
  height: 220px;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0;
}

.image {
}

.pokemon-name {
  text-transform: capitalize;
  margin: 2px;
}

.list {
  display: flex;
  flex-direction: row;
  padding: 0px;
}

.type-list {
  list-style: none;
  text-transform: uppercase;
}
